@import 'vars';

.ProductDetail{

    display: grid;
    justify-items: end;
    position: absolute;
    top: 107px;
    right: 0px;
    height: 90%;
    background: var(--white);
    
}

@media (max-width: 600px) {
    .ProductDetail{
        height: 100%;
    }
    
}